@import "tailwindcss";

@theme {
  --background: hsl(200 20% 98%);
  --btn-background: hsl(200 10% 91%);
  --btn-background-hover: hsl(200 10% 89%);
  --foreground: hsl(200 50% 3%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(200 50% 3%);
    --btn-background: hsl(200 10% 9%);
    --btn-background-hover: hsl(200 10% 12%);
    --foreground: hsl(200 20% 96%);
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
